.blog {
  padding: var(--spacing-xl) 0;
  
  &-title {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-black);
    color: var(--dark);
    margin: 0 0 var(--spacing-2xl) 0;
  }
  
  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
}

@media (max-width: 768px) {
  .blog {
    &-title {
      font-size: var(--font-size-3xl);
    }
  }
}
