.post-card {
  background-color: var(--white);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  
  &-title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--dark);
    margin: 0;
  }
  
  &-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: var(--font-size-base);
  }
  
  &-date {
    color: var(--dark);
  }
  
  &-separator {
    color: var(--light);
  }
  
  &-tags {
    color: var(--light);
  }
  
  &-description {
    color: var(--dark);
    line-height: var(--line-height-relaxed);
    margin: 0;
  }
}
