.work-card {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-lg);
  border-bottom: 1px solid #e0e0e0;
  
  &-image {
    flex-shrink: 0;
    width: 246px;
    height: 180px;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }
  
  &-title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--dark);
    margin: 0;
  }
  
  &-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: var(--font-size-base);
  }
  
  &-badge {
    background-color: var(--dark);
    color: var(--white);
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius-full);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-black);
  }
  
  // &-category {
  //   color: var(--light);
  //   font-size: var(--font-size-xl);
  // }
  &-tags {
    color: var(--light);
  }
  
  &-description {
    color: var(--dark);
    line-height: var(--line-height-relaxed);
    margin: 0;
  }
}

@media (max-width: 768px) {
  .work-card {
    flex-direction: column;
    
    &-image {
      width: 100%;
      height: 200px;
    }
  }
}
